.action-button {
  background-color: #3040c4;
  color: #ffffff;
  width: 160px;
  height: 48px;
  font-weight: 700;
  font-size: 18px;
  border-radius: 2px;
  border: none;

  /*
  &_seccondary {
    color: $text-color-black;
    background-color: $color-white;
  }
  */
}

.hide_desctop {
  @include for-large-up {
    display: none;
  }
}

.hide_mobile {
  @include for-large-down {
    display: none;
  }
}
